<section class="foot_logo">
<img src="/images/queenmary_logo.svg" width="300" height="100"/></section>
<section class="foot_info">
<span class="address">
qMedia, School of Electronic Engineering and Computer Science, <br>
Queen Mary, University of London, Mile End Road, London, E1 4NS, UK</span><br><br>
<span class="copyright">
© 2012 Queen Mary, University of London</span> 
</section>
 
